.ForecastBox {
  flex: 3.5;
  max-width: 600px;
}

.forecast-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  height: 100%;
}

.forecast-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.forecast-card .MuiCardMedia-root {
  height: 150px;
}

.forecast-card .MuiCardContent-root {
  flex-grow: 1;
}
