.InfoBox {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  max-width: 600px;
  min-width: 400px;
}

.InfoBox .MuiCard-root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.InfoBox .MuiCardMedia-root {
  height: 300px; 
}

.InfoBox .MuiCardContent-root {
  flex-grow: 1;
}
